.custom-form .background-image {
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .custom-form h2 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
  }
  
  